<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>StartUp</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="../static/major/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/major/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/major/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/major/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/major/css/nice-select.css">
  <link rel="stylesheet" href="../static/major/css/themify-icons.css">
	<link rel="stylesheet" href="../static/major/css/flaticon.css">
	<link rel="stylesheet" href="../static/major/css/gijgo.css">
	<link rel="stylesheet" href="../static/major/css/animate.min.css">
	<link rel="stylesheet" href="../static/major/css/slicknav.css">
	<link rel="stylesheet" href="../static/major/css/style.css">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
<style>

input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}
input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	color: #95a5a6;
	font-family: "Helvetica", arial, sans-serif;
	font-size: 18px;
	border:1px solid #ecf0f1;
	background:#ecf0f1;
	padding:5px;
	display: inline-block !important;
	visibility: visible !important;
}
input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
body{
	background-color: #161c29;
}
</style>

</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>


<header>
		<div class="header-area ">
				<div id="sticky-header" class="main-header-area" style="padding-bottom:1px;">
						<div class="container-fluid p-0">
								<div class="row align-items-center no-gutters">
										<div class="col-xl-2 col-lg-2">
												<div class="logo-img">
														<a href="{% url 'major:index' %}">
																<img src="/static/major/img/logo.png" alt="Hahaha">
														</a>
												</div>
										</div>
										<div class="col-xl-8 col-lg-8">
												<div class="main-menu  d-none d-lg-block text-center">
														<nav>
																<ul id="navigation">
																		<li><a class="active" href="{% url 'major:index' %}">Home</a></li>
																		<li><a href="{% url 'major:detail' %}">Scheduling</a></li>
																		<li><a href="{% url 'major:uploadsuccess' %}">Energy Usage</a></li>
																		<li><a href="{% url 'major:monitor' %}">Monitoring</a></li>

																</ul>
														</nav>
												</div>
										</div>
										<div class="col-lg-2 d-none d-lg-block">
												<div class="log_chat_area d-flex align-items-end">
														<li><a href="contact.html" class="say_hi">Contact</a></li>
												</div>
										</div>
										<div class="col-12">
												<div class="mobile_menu d-block d-lg-none"></div>
										</div>
								</div>
						</div>
				</div>
		</div>
</header>
    <!-- header-end -->

		<!-- bradcam_area  -->
		<div class="bradcam_area bradcam_bg_1" style="background-image: url('/static/major/img/frong.jpg');padding-bottom:20px;">
			<div class="container" style="height:100px;">
					<div class="col-xl-12">
						<div class="bradcam_text text-center">
							<h3>Scheduling Info</h3>
							<form class="" action="{%  url 'major:monitor'%}" method="post">
								{% csrf_token %}
								<center> <button class="boxed-btn3" type="submit">Start Monitoring</button> </center>

							</form>

					</div>
				</div>
			</div>
		</div>
		<!-- /bradcam_area  -->

<br><br><br>

<br><br>
	<center><h3 style="margin-left:40px; color:white;">Get Usage of particular date</h3></center>
	<form class="" action="{%  url 'major:result'%}" method="POST">

		{% csrf_token %}

	<section class="button-area" style="background-color: #161c29;">
		<div class="container box_5 border-top-generic" style="border:6px solid;border-radius:20px; background-color: white;padding:30px;">
			<h3 class="text-heading">Residentials</h3>
			<div class="button-group-area">
				<!-- <a href="{%  url 'major:result'%}" class="genric-btn primary circle ">Residential 1</a>
				<a href="#" class="genric-btn primary circle">Residential 2</a>
				<a href="#" class="genric-btn primary circle">Residential 3</a>
				<a href="#" class="genric-btn primary circle">Residential 4</a>
				<a href="#" class="genric-btn primary circle">Residential  5</a>
				<a href="#" class="genric-btn primary circle">Residential 6</a> -->
				<center><p style="color:black;font-size:30px;">Enter a date between 27-10-2016 and 07-02-2017</p></center>
				<br>
				<center>
				<div class="">
				<input class="calender" type="date" id="ddate" name="ddate">
				</div>
			</center>
<br><br>

			<center>

					<input type="radio" name="resi" id="resi" value="1">&nbsp;<label class="genric-btn info circle" for="1">  1</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<input type="radio" name="resi" id="resi" value="2">&nbsp;<label class="genric-btn success circle" for="2">2</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<input type="radio" name="resi" id="resi" value="3">&nbsp;<label class="genric-btn info circle" for="3">3</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<input type="radio" name="resi" id="resi" value="4">&nbsp;<label class="genric-btn success circle" for="4">4</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<input type="radio" name="resi" id="resi" value="5">&nbsp;<label class="genric-btn info circle" for="5">5</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<input type="radio" name="resi" id="resi" value="6">&nbsp;<label class="genric-btn success circle" for="6">6</label> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

<br><br>
					<center><button type="submit" class="genric-btn circle"name="button" style="background-color:black; color:white;"> Show Result </button></center>

				</center>

			</div>
		</div>
	</section>

</form>


<br><br><br><br><br>





<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>



    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3">
                        <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9">
                        <div class="menu_links">
                            <ul>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s" href="#">About</a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" href="#">Services</a></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s" href="#">Portfolio</a></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s" href="#">Pages</a></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s" href="#">Blog</a></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.1s" href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="socail_links">
                            <ul>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

	<!-- JS here -->
	<script src="../static/major/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="../static/major/ js/vendor/jquery-1.12.4.min.js"></script>
	<script src="../static/major/js/popper.min.js"></script>
	<script src="../static/major/js/bootstrap.min.js"></script>
	<script src="../static/major/js/owl.carousel.min.js"></script>
	<script src="../static/major/js/isotope.pkgd.min.js"></script>
	<script src="../static/major/js/ajax-form.js"></script>
	<script src="../static/major/js/waypoints.min.js"></script>
	<script src="../static/major/js/jquery.counterup.min.js"></script>
	<script src="../static/major/js/imagesloaded.pkgd.min.js"></script>
	<script src="../static/major/js/scrollIt.js"></script>
	<script src="../static/major/js/jquery.scrollUp.min.js"></script>
	<script src="../static/major/js/wow.min.js"></script>
	<script src="../static/major/js/nice-select.min.js"></script>
	<script src="../static/major/js/jquery.slicknav.min.js"></script>
	<script src="../static/major/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/major/js/plugins.js"></script>
	<script src="../static/major/js/gijgo.min.js"></script>

	<!--contact js-->
	<script src="../static/major/js/contact.js"></script>
	<script src="../static/major/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/major/js/jquery.form.js"></script>
	<script src="../static/major/js/jquery.validate.min.js"></script>
	<script src="../static/major/js/mail-script.js"></script>

	<script src="../static/major/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
</body>
</html>
